services:
  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./backend:/app
      - backend_vendor:/app/vendor
      - backend_var:/app/var
    ports:
      - "8000:8000"
    command: sh -c "composer install && symfony server:stop && symfony server:start --no-tls --allow-http --listen-ip=0.0.0.0"
    # Using hosted database from backend/.env file
    restart: unless-stopped
    env_file:
      - ./backend/.env

volumes:
  frontend_node_modules:
  backend_vendor:
  backend_var:
