# nameOverride replace the name of the chart
nameOverride:
# fullnameOverride
fullnameOverride:

## Image configuration
imagesConfiguration:
  global:
    repo:
    tag:
  custom:
    symfony:
      repo: ghcr.io/erebor-org/erebor/symfony
      tag:
    front:
      repo: ghcr.io/erebor-org/erebor/nginx
      tag:

### Deployments configuration
deployments:
  app:
    labels:
    annotations:
    replicas:
    terminationGracePeriodSeconds:
    containers:
      nginx:
        resources:
          limits:
            cpu: 500m
            memory: 500Mi
        imagePullPolicy: Always
        config:
          VITE_API_URL:
      symfony:
        resources:
          limits:
            cpu: 1000m
            memory: 2Gi
        imagePullPolicy: Always
        config:
          APP_ENV: 
          APP_SECRET: 
          DATABASE_URL: 
          MESSENGER_TRANSPORT_DSN: 
          MAILER_DSN: 
          CORS_ALLOW_ORIGIN: 
          JWT_SECRET_KEY: 
          JWT_PUBLIC_KEY: 
          JWT_PASSPHRASE: 
          FRONTEND_URL: 
        jwt_keys:
          JWT_PUBLIC_KEY_BASE64: 
          JWT_SECRET_KEY_BASE64: 
### Ingress configuration
### Will automatically bind the hosts to the service

ingress:
  enabled: yes
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  tls:
    - secretName: erebor-tls
      hosts:
        - erebor-dofus.fr
        - api.erebor-dofus.fr
  hosts:
    - host: erebor-dofus.fr
      paths:
        - path: /
          pathType: Prefix
          serviceName: nginx
          servicePort: 80
    - host: api.erebor-dofus.fr
      paths:
        - path: /
          pathType: Prefix
          serviceName: nginx
          servicePort: 80

# globalLabels will be applied to all deployments and jobs
globalLabels:
# globalAnnotations will be applied to all deployments and jobs
globalAnnotations:

# managedImagePullSecret, pass a base64 encoded version of a
# .dockerconfigjson and it will be created by helm and applied
# to all resources
managedImagePullSecret:

# imagePullSecrets is an object array of imagePullSecrets that will
# be added to all resources.
# exemple value: - name: name-of-secret
imagePullSecrets:
  - name: regcred

services:
  nginx:
    port: 80


# optional cronjob to backup
# vars are all set in github repo vars/secrets
pgbackup:
  enabled: yes
  # default schedule is 0 2 * * * (daily at 2AM)
  schedule:
  image: ghcr.io/erebor-org/erebor-toolbox:2025-04-26-v1
  config:
    DB_HOST:
    DB_PORT:
    DB_USER:
    DB_PASSWORD:
    DBS_TO_BACKUP:
    ENCRPYPTION_KEY:
    S3_URL:
    S3_BUCKET:
    S3_ACCESS_KEY:
    S3_SECRET_KEY:
    S3_REGION: